<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TheBuilding</title>
    <link rel="icon" type="image/png" href="./static/Media/building1.png" />
    {% load static %}
    <link href="{% static 'acercaDeStyles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">  
</head>
<body>
    <div class="Wrapper">
        <nav id="hamnav">
            <div class="Space"></div>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>
            <div id="hamitems">
                <a href="inicio">Inicio</a>
                <a href="acercaDe">Acerca de</a>
                <a href="instrucciones">Instrucciones</a>
                <a href="estadisticas">Estadísticas</a>
                <a href="reto">Reto</a>
                <a href="contactanos">Contáctanos</a>
            </div>
        </nav>
        <div class="ContextContainer">
            <h3 class="Title3">Acerca del juego</h3>
            <h2 class="Title2">Contexto</h2>
            <div class="Context">
                <p>“The Building” es un videojuego en el que te encuentras dentro de un edificio que se inunda, el reto consiste en subir al techo lo más rápido posible donde tu salvación te espera, aunque para llegar debes atravesar diferentes retos que se encuentran en cada piso para conseguir llaves , junta las necesarias para abrir el acceso a las escaleras para subir de nivel,  recuerda pasar entre las diferentes salas del edificio.</p>
            </div>
        </div>
        <div class="PlayerContainer">
            <div class="Space"></div>
            <div class="Player">
                <h2 class="PlayerTitle2">Jugadores</h2>
                <p>Como se puede observar en la imagen del videojuego principal, tenemos dos opciones de jugadores, ambos son estudiantes de la carrera de Software y servicios de TICs y hacen su servicio social dentro del edificio en el que se encuentran, utiliza sus conocimientos para pasar todos los retos que se presenten. ¡Recuerda que puedes ser uno de ellos en el futuro! Es importante que conozcas que son los mejores de la clase, ¿lograrás llegar al techo? </p>
            </div>
        </div>
        <div class="PointsContainer">
            <h2 class="Title2">Puntajes</h2>
            <div class="Points">
                <p>¿Quieres ser parte de nuestros mejores jugadores? 
                    Como puedes ver en la página de Inicio tenemos un marcador con los 5 jugadores que tienen el mejor tiempo de salida del edificio. No solo se trata de sobrevivir,  ¡agiliza tu tiempo para aparecer en nuestro sitio! </p>
            </div>
        </div>
    </div>
</body>