<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TheBuilding</title>
    <link rel="icon" type="image/png" href="./static/Media/building1.png" />
    {% load static %}
    <link href="{% static 'contactanosStyles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="Wrapper">
        <nav id="hamnav">
            <div class="Space"></div>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>
            <div id="hamitems">
                <a href="inicio">Inicio</a>
                <a href="acercaDe">Acerca de</a>
                <a href="instrucciones">Instrucciones</a>
                <a href="estadisticas">Estadísticas</a>
                <a href="reto">Reto</a>
                <a href="contactanos">Contáctanos</a>
            </div>
        </nav>
        <div class="TitleContainer">
            <h3>Construcción de software y toma de decisiones</h3>
            <div class="LogoTecContainer">
                <img class="Image1" src="./static/Media/TEC.png" alt="Tec logo"/>
            </div>
            <h2>Movimiento steam</h2>
        </div>
        <h3 class="Title3">Profesores</h3>
        <div class="ProfessorsContainer">
            <div class="Professor">
                <div class="Box">
                    <img class="Image" src="./static/Media/Molina.png" alt="Professor Molina"/>
                </div>
                <div class="Box1">
                    <p>José Martín Molina Espinosa</p>
                    <p>Desarrollo tecnológico y desarrollo web</p>  
                </div> 
            </div>
            <div class="Professor">
                <div class="Box">
                    <img class="Image" src="./static/Media/Sergio.png" alt="Professor Sergio"/>
                </div>
                <div class="Box1">
                    <p>Sergio Ruiz Loza</p>
                    <p>Bases de datos y videojuegos</p>
                </div> 
            </div>
            <div class="Professor">
                <div class="Box">
                    <img class="Image" src="./static/Media/Cristian.jpeg" alt="Professor Christian"/>
                </div>
                <div class="Box1">
                    <p>Christian Vallejo</p>
                    <p>Análisis y modelación de sistemas de software</p>
                </div>
            </div>
        </div>
        <h3>Alumnos</h3>
        <div class="StudentsContainer">
            <div class="StudentsOne">
                <div class="BoxContainer">
                    <div class="BoxOnly">
                        <img class="Image4" src="./static/Media/Karen.jpeg" alt="Student Karen"/>
                    </div>
                    <p>Karen Rocío Macías Ávila</p>
                    <p>A01657935</p>
                </div>
                <br>
                <div class="BoxContainer">
                    <div class="BoxOnly">
                        <img class="Pepe" src="./static/Media/Pepe.jpeg" alt="Student José"/>
                    </div>
                    <p>José Ernesto Gómez Aguilar</p>
                    <p>A01658889</p>
                </div>
            </div>
            <div class="GithubImages">
                <a href="https://github.com/Karen0906">
                    <img class="Image3" src="./static/Media/github1.png" alt="Github"/>
                </a>
                <a href="https://github.com/JEGA27">
                    <img class="Image3" src="./static/Media/github1.png" alt="Github"/>
                </a>
            </div>
            <div class="Building">
                <img class="Image2" src="./static/Media/building (2).png" alt="Building image"/>
            </div>
            <div class="GithubImages">
                <a href="https://github.com/HazelAngeles">
                    <img class="Image3" src="./static/Media/github1.png" alt="Github"/>
                </a>
                <a href="https://github.com/brobola">
                    <img class="Image3" src="./static/Media/github1.png" alt="Github"/>
                </a>
            </div>
            <div class="StudentsOne">
                <div class="BoxContainer">
                    <div class="BoxOnly">
                        <img class="Hazel" src="./static/Media/Hazel.jpeg" alt="Student Hazel"/>
                    </div>
                    <p>Hazel Astrid Ángeles Quevedo</p>
                    <p>A01275792</p>
                </div>
                <br>
                <div class="BoxContainer">
                    <div class="BoxOnly">
                        <img class="Image4" src="./static/Media/Bruno1.jpeg" alt="Student Bruno"/>
                    </div>
                    <p>Bruno Passarette Santos</p>
                    <p>A01658904</p>
                </div>
            </div>
        </div>
    </div>
</body>