<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TheBuilding</title>
    <link rel="icon" type="image/png" href="./static/Media/building1.png" />
    {% load static %}
    <link href="{% static 'estadisticasStyles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
            ['25', 100, 40, 20],
            ['50', 17, 46, 25],
            ['75', 66, 112, 30],
            ['100', 10, 54, 35]
        ]);

        var options = {
            chart: {
            title: 'Minutos jugados totales',
            subtitle: 'Usuarios y el tiempo que han jugado "TheBuilding"',
            },
            hAxis: {
            title: 'Número de usuarios',
            minValue: 0
            },
            vAxis: {
            title: 'Minutos'
            },
            bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartOne);
      function drawChartOne() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['25', 23, 44, 27],
        ['50', 117, 34, 20],
        ['75', 36, 120, 50],
        ['100', 30, 50, 25]
        ]);
    
        var options = {
            chart: {
            title: 'Duración de sesión',
            subtitle: 'Usuarios y el tiempo de sesión en "TheBuilding"',
            },
            hAxis: {
            title: 'Número de usuarios',
            minValue: 0
            },
            vAxis: {
            title: 'Minutos'
            },
            bars: 'horizontal' // Required for Material Bar Charts.
        };
        
        var chartOne = new google.charts.Bar(document.getElementById('barchart_material_One'));
        
        chartOne.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartTwo);
      function drawChartTwo() {
        var data = google.visualization.arrayToDataTable([
        ['Cantidad', 'Éxitos', 'Fallos'],
        ['Nivel 1', 100, 10],
        ['Nivel 2', 65, 25],
        ['Nivel 3', 79, 12],
        ]);

        var options = {
        chart: {
            title: 'Éxitos y fallos por nivel',
            subtitle: 'Usarios por nivel jugando "TheBuilding"',
        },
        hAxis: {
            title: 'Número de usuarios',
            minValue: 0
        },
        vAxis: {
            title: 'Minutos'
        }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartThree);
      function drawChartThree() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['Nivel 3', 200, 100, 180],
        ]);

        var options = {
        chart: {
            title: 'Tiempo máximo para completar "TheBuilding"',
        },
        hAxis: {
            title: 'Juego Completo',
            minValue: 0
        },
        vAxis: {
            title: 'Minutos'
        }
        };

        var chart1 = new google.charts.Bar(document.getElementById('columnchart_material_One'));

        chart1.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartFour);
      function drawChartFour() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['Nivel 3', 60, 80, 90],
        ]);

        var options = {
        chart: {
            title: 'Tiempo mínimo para completar "TheBuilding"',
        },
        hAxis: {
            title: 'Juego Completo',
            minValue: 0
        },
        vAxis: {
            title: 'Minutos'
        }
        };

        var chart2 = new google.charts.Bar(document.getElementById('columnchart_material_Two'));

        chart2.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartFive);
      function drawChartFive() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mínimo', 'Máximo'],
        ['Sala 1', 2, 5],
        ['Sala 2', 2, 6],
        ['Sala 3', 3, 6],
        ['Sala 4', 4, 6],
        ['Sala 5', 4, 5],
        ['Sala 6', 3, 5],
        ['Sala 7', 3, 7],
        ['Sala 8', 5, 6],
        ['Sala 9', 5, 6],
        ]);

        var options = {
        chart: {
            title: 'Tiempo mínimo y máximo por sala en "TheBuilding"',
        },
        hAxis: {
            title: 'Tiempo por sala',
            minValue: 0
        },
        vAxis: {
            title: 'Minutos'
        }
        };

        var chart3 = new google.charts.Bar(document.getElementById('columnchart_material_Three'));

        chart3.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartSix);
      function drawChartSix() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['Nivel 3', 5, 8, 15],
        ]);

        var options = {
        chart: {
            title: 'Tiempo mínimo para completar "TheBuilding"',
        },
        hAxis: {
            title: 'Juego Completo',
            minValue: 0
        },
        vAxis: {
            title: 'Cantidad'
        }
        };

        var chart4 = new google.charts.Bar(document.getElementById('columnchart_material_Four'));

        chart4.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartSeven);
      function drawChartSeven() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['Nivel 3', 15, 8, 5],
        ]);

        var options = {
        chart: {
            title: 'Partidas perdidas por ahogo en "TheBuilding"',
        },
        hAxis: {
            title: 'Juego Completo',
            minValue: 0,
        },
        vAxis: {
            title: 'Cantidad'
        }
        };

        var chart5 = new google.charts.Bar(document.getElementById('columnchart_material_Five'));

        chart5.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartEight);
      function drawChartEight() {
        var data = google.visualization.arrayToDataTable([
        ['Cantidad', 'Mínimos', 'Máximos'],
        ['Nivel 1', 0, 4],
        ['Nivel 2', 2, 5],
        ['Nivel 3', 1, 3],
        ]);

        var options = {
        chart: {
            title: 'Cantidad de items utilizados por nivel',
            subtitle: 'Items por nivel jugando "TheBuilding"',
        },
        hAxis: {
            title: 'Número de items',
            minValue: 0
        },
        vAxis: {
            title: 'Cantidad'
        }
        };

        var chart6 = new google.charts.Bar(document.getElementById('columnchart_material_Six'));

        chart6.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartNine);
      function drawChartNine() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mínimo', 'Máximo'],
        ['Sala 1', 0, 4],
        ['Sala 2', 0, 1],
        ['Sala 3', 0, 5],
        ['Sala 4', 1, 3],
        ['Sala 5', 1, 4],
        ['Sala 6', 2, 3],
        ['Sala 7', 0, 3],
        ['Sala 8', 1, 4],
        ['Sala 9', 2, 3],
        ]);

        var options = {
        chart: {
            title: 'Items de oportunidad por sala en "TheBuilding"',
        },
        hAxis: {
            title: 'Número de items',
            minValue: 0
        },
        vAxis: {
            title: 'Cantidad'
        }
        };

        var chart7 = new google.charts.Bar(document.getElementById('columnchart_material_Seven'));

        chart7.draw(data, google.charts.Bar.convertOptions(options));
      }
      google.charts.setOnLoadCallback(drawChartTen);
      function drawChartTen() {
        var data = google.visualization.arrayToDataTable([
        ['Minutos', 'Mujeres', 'Hombres', 'Otros'],
        ['Nivel 3', 5, 8, 9],
        ]);
        var options = {
            chart: {
            title: 'Items de tips utilizados en "TheBuilding"',
            },
            hAxis: {
            title: 'Juego Completo',
            minValue: 0
            },
            vAxis: {
            title: 'Cantidad'
            }
        };

        var chart8 = new google.charts.Bar(document.getElementById('columnchart_material_Eight'));

        chart8.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
</head>
<body>
    <div class="Wrapper">
        <nav id="hamnav">
            <div class="Space"></div>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>
            <div id="hamitems">
                <a href="inicio">Inicio</a>
                <a href="acercaDe">Acerca de</a>
                <a href="instrucciones">Instrucciones</a>
                <a href="estadisticas">Estadísticas</a>
                <a href="reto">Reto</a>
                <a href="contactanos">Contáctanos</a>
            </div>
        </nav>
        <div class="GlobalStadisticsContainer">
            <h3>Estadísticas globales</h3>
            <div class="GlobalStadisticsOne">
                <div class="GlobalStadistics">
                    <h2>Minutos jugados totales</h2>
                    <div id="barchart_material" style="width: 600px; height: 300px;"></div>
                </div>
                <div class="GlobalStadistics">
                    <h2>Duración de sesión</h2>
                    <div id="barchart_material_One" style="width: 600px; height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="LocalStadisticsContainer">
            <h3>Estadísticas Locales</h3>
            <div class="LocalStadisticsOne">
                <div class="LocalStadistics">
                    <h2>Éxito o fallo por nivel</h2>
                    <div id="columnchart_material" style="width: 500px; height: 500px;"></div>
                </div>
                <div class="LocalStadistics">
                    <h2>Máxima terminación de juego</h2>
                    <div id="columnchart_material_One" style="width: 400px; height: 500px;"></div>
                </div>
            </div>
            <div class="LocalStadisticsTwo">
                <div class="LocalStadistics">
                    <h2>Mínima terminación de juego</h2>
                    <div id="columnchart_material_Two" style="width: 400px; height: 500px;"></div>
                </div>
                <div class="LocalStadistics">
                    <h2>Tiempo restante de sala</h2>
                    <div id="columnchart_material_Three" style="width: 600px; height: 500px;"></div>
                </div>
            </div>
            <div class="LocalStadisticsThree">
                <div class="LocalStadistics">
                    <h2>Partidas perdidas por tiempo de sala</h2>
                    <div id="columnchart_material_Four" style="width: 400px; height: 500px;"></div>
                </div>
                <div class="LocalStadistics">
                    <h2>Partidas perdidas por ahogo</h2>
                    <div id="columnchart_material_Five" style="width: 400px; height: 500px;"></div>
                </div>
            </div>
            <div class="LocalStadisticsFour">
                <div class="LocalStadistics">
                    <h2>Items de oportunidad por nivel</h2>
                    <div id="columnchart_material_Six" style="width: 500px; height: 500px;"></div>
                </div>
                <div class="LocalStadistics">
                    <h2>Items de oportunidad por sala</h2>
                    <div id="columnchart_material_Seven" style="width: 600px; height: 500px;"></div>
                </div>
            </div>
            <div class="LocalStadisticsFive">
                <div class="LocalStadistics">
                    <h2>Items de tips utilizados por edificio</h2>
                    <div id="columnchart_material_Eight" style="width: 400px; height: 500px;"></div>
                </div>
                <!--
                <div class="LocalStadistics">
                    <h2>Personas con habilidades desarrolladas</h2>
                    <p>gráfica aquí </p>
                </div>
                -->
            </div>
        </div>
        <div class="Top">
            <a href="#hamnav">
                <img class="Image" src="./static/Media/top (1).png" alt="Folder"/>
            </a>
            <h3 class="Last">Subir al menú</h3>
        </div>
    </div>
</body>