<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TheBuilding</title>
    <link rel="icon" type="image/png" href="./static/Media/building1.png" />
    {% load static %}
    <link href="{% static 'inicioStyles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">   
</head>
<body>
    <div class="Wrapper">
        <nav id="hamnav">
            <div class="Space"></div>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>
            <div id="hamitems">
                <a href="inicio">Inicio</a>
                <a href="acercaDe">Acerca de</a>
                <a href="instrucciones">Instrucciones</a>
                <a href="estadisticas">Estadísticas</a>
                <a href="reto">Reto</a>
                <a href="contactanos">Contáctanos</a>
            </div>
        </nav>
        <div class="TitleContainer">
            <h3>Equipo 5 / Nombre del equipo</h3>
            <h1>The Building</h1>
            <div class="Button">
                <p><a class="Button1" href="#Juega">Comienza</a></p>
        </div>
        <div class="RecordsContainer">
            <h4>Nuestros mejores jugadores</h4>
            <h2>Calificaciones</h2>
            <img class="Image" src="./static/Media/medal2.png" alt="Medal"/>
            <div class="Records">
                <div class="Player">
                    <ol>
                        <li><p class ="Player1">Pepe</p></li>
                        <br>
                        <li><p class ="Player1">Sailor Moon</p></li>
                        <br>
                        <li><p class ="Player1">Natalia</p></li>
                        <br>
                        <li><p class ="Player1">Coco</p></li>
                        <br>
                        <li><p class ="Player1">Jesus</p></li>
                    </ol>
                </div>
                <div class="PlayerTime">
                    <div class="Time">
                        <p class="TimeBul">Time</p>
                        <br>
                        <p class="TimeBul">Time</p>
                        <br>
                        <p class="TimeBul">Time</p>
                        <br>
                        <p class="TimeBul">Time</p>
                        <br>
                        <p class="TimeBul">Time</p>
                    </div>
                    <div class="Time1">
                        <p class ="Player1">30:00:15</p>
                        <br>
                        <p class ="Player1">32:00:00</p>
                        <br>
                        <p class ="Player1">33:06:11</p>
                        <br>
                        <p class ="Player1">37:45:10</p>
                        <br>
                        <p class ="Player1">37:45:14</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="GameContainer" id="Juega">
            <h4 class="Title4">Juega ahora</h4>
            <h2 class="Title2">Videojuego</h2>
            <div class="Game">
                <img class="Image1" src="./static/Media/Juego.png" alt="Game"/>
            </div>
        </div>
        <div class="DownloadContainer">
            <h4 class="Title4">Úsalo en tu dispositivo</h4>
            <h2 class="Title2">Descargar</h2>
            <div class="MoreAboutContainer">
                <div class="Tags">
                    <h4>Tags</h4>
                    <br>
                    <div class="Box">
                        <p class="Tag">HTML</p>
                        <p class="Tag">CSS</p>
                        <p class="Tag">JavaScript</p>     
                    </div>
                    <div class="Box">
                        <p class="Tag">Django</p>
                        <p class="Tag">JQuery</p>     
                    </div>
                    <div class="Box">
                        <p class="Tag">Scape Room</p> 
                        <p class="Tag">3D</p>
                        <p class="Tag">Unity</p>     
                    </div>
                </div>
                <div class="Download">
                    <h4>Ejecutable</h4>
                    <br>
                    <!--
                    <a href="./FirstProjectScenesMacOS.zip" download="TheBuilding">Descarga para Mac</a>
                    <br>
                    <a href="./FirstProjectScenesWindows_x86_64.zip" download="TheBuilding">Descarga para Windows x86 o x64</a>
                     -->
                    <a href="http://bit.ly/3cpoLky">Descarga para Mac</a>
                    <br>
                    <a href="http://bit.ly/30E1zcK">Descarga para Windows x86 o x64</a>
                </div>
            </div>
        </div>
    </div>
</body>
