<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TheBuilding</title>
    <link rel="icon" type="image/png" href="./static/Media/building1.png" />
    {% load static %}
    <link href="{% static 'retoStyles.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">   
</head>
<body>
    <div class="Wrapper">
        <nav id="hamnav">
            <div class="Space"></div>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger"/>
            <div id="hamitems">
                <a href="inicio">Inicio</a>
                <a href="acercaDe">Acerca de</a>
                <a href="instrucciones">Instrucciones</a>
                <a href="estadisticas">Estadísticas</a>
                <a href="reto">Reto</a>
                <a href="contactanos">Contáctanos</a>
            </div>
        </nav>
        <div class="ZeroCycleContainer">
            <h3>Entregables del reto</h3>
            <h2>Ciclo 0</h2>
            <p>Da click a la carpeta para encontrar la información correspondiente</p>
            <a href="http://bit.ly/2Oriuwh">
                <img class="Image1" src="./static/Media/blueFolder.png" alt="Folder"/>
            </a>
        </div>
        <div class="OneCycleContainer">
            <h2>Ciclo 1</h2>
            <p>Da click a la carpeta para encontrar la información correspondiente</p>
            <a href="http://bit.ly/3qr3An8">
                <img class="Image1" src="./static/Media/orangeFolder.png" alt="Folder"/>
            </a>
        </div>
        <div class="TwoCycleContainer">
            <h2>Ciclo 2</h2>
            <p>Da click a la carpeta para encontrar la información correspondiente</p>
            <a href="http://bit.ly/30iZkvc">
                <img class="Image1" src="./static/Media/blueFolder.png" alt="Folder"/>
            </a>
        </div>
        <div class="ThreeCycleContainer">
            <h2>Ciclo 3</h2>
            <p>Da click a la carpeta para encontrar la información correspondiente</p>
            <a href="https://bit.ly/38fNlD2">
                <img class="Image1" src="./static/Media/orangeFolder.png" alt="Folder"/>
            </a>
        </div>
    </div>
</body>