body {
  background-color: #2B4162;
}
.Wrapper {
  display: flex;
  justify-content: space-between;
  color: #F5F0F6;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  font-size: 30px;
  font-weight: bolder;
  color : #F5F0F6;
}
h3 {
  letter-spacing: 10px;
  margin: 30px 0px 0px 0px;
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #4BC0D9;
}
p {
  margin: 5px 0px 0px 0px;
}  
  



#hamnav {
  width: 100%;
  height: 60px;
  background:#2B4162;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
#hamnav .space {
  width: 40%;
}
#hamnav label, #hamburger { display: none; }
#hamitems { display: flex; width: 60% }
#hamitems a {
  width: 20%;
  padding: 15px;
  color: #4BC0D9;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  float: right;
}
#hamitems a:hover {
  background: #2B4162;
  color: #FC9E4F;
}
#hamitems a:link {
  color: #4BC0D9;
}
#hamitems a:active {
  text-decoration: underline;
}




.TitleContainer {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  text-align: center;
  align-items: center;
}
.LogoTecContainer {
  background-color: #F5F0F6;
  border-radius: 10px;
  width: 20%;
  padding: 15px;
  margin: 20px;
}
.Image1 {
  width: 100%;
}




.ProfessorsContainer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  margin-top: 30px;
  text-align: left;
}
.Title3 {
  color: #FC9E4F;
  margin-bottom: 15px;
}
.Professor {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width: 30%;
  text-align: center;
  align-items: center;
  color: #FC9E4F;
}
.Box {
  background-color: #F5F0F6;
  border-radius: 10px;
  width:70%;
}
.Image {
  width: 80%;
  padding: 10px;
}



.StudentsContainer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.StudentsOne, .Building {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 30%;
  text-align: center;
  align-items: center;
  color: #76E5FC;
}
.GithubImages {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.BoxContainer {
  width: 60%;
}
.BoxOnly {
  background-color: #F5F0F6;
  border-radius: 10px;
  width:100%;
}
.Image2 {
  width: 80%;
  height: 400px;
  padding-top: 60px;
} 
.Image3 {
  width: 80%;
}
.Image4, .Pepe {
  width: 60%;
  padding: 10px;
}
.Hazel {
  width: 80%;
  padding: 20px;
}

@media(max-width: 1282px) {
  .Image2 {
    height: 380px;
  }
}
@media(max-width: 1024px){
  .Image2 {
    height: 300px;
    padding-top: 90px;
  }
  .Box1 {
    font-size: 14px;
  }
  .BoxContainer {
    font-size: 14px;
  }
  .GithubImages {
    height: 90%;
  }
  .Hazel {
    padding: 10px;
  }
}

@media(max-width: 812px) {
  .Image2 {
    width: 250px;
  }
}


@media(max-width: 719px) {
  .ProfessorsContainer {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
  }
  .Professor {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .Box1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .Box {
    background-color: #F5F0F6;
    border-radius: 10px;
    width:40%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Image {
    width: 50%;
    padding: 10px;
  }
  .StudentsContainer {
    flex-direction: column;
  }
  .StudentsOne {
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
  }
  .BoxContainer {
    width: 45%;
  }
  .Pepe {
    width: 53%;
  }
  .GithubImages {
    flex-direction: row;
    width: 100%;
  }
  .Image3 {
    width: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .Building {
    width: 100%;
  }
  .Image2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media(max-width: 594px) {
  .LogoTecContainer {
    width: 30%;
  }
  .Hazel {
    padding: 15px;
  }
  .Image3 {
    width: 15%;
  }
}

@media(max-width: 481px) {
  .LogoTecContainer {
    width: 50%;
  }
  .BoxContainer {
    font-size: 12px;
  }
  .Professor {
    font-size: 12px;
    flex-direction: column;
  }
  .Box {
    width: 60%;
  }
  .Box1 {
    width: 90%;
  }
  .Image3 {
    width: 20%;
  }
}



/*Menu styles */
@media screen and (max-width: 1105px) {
  #hamnav .Space {
    width: 20%;
  }
  #hamitems {
    display: flex; 
    width: 80% 
  }
}
@media screen and (max-width: 824px) {
  #hamnav .Space {
    width: 10%;
  }
  #hamitems {
    width: 90% 
  }
}
@media screen and (max-width: 768px){
  h3 {
    margin: 20px 0px 0px 0px;
  }
  #hamnav .Space {
    width: 0%;
  }
  #hamitems {
    width: 100% 
  }
  #hamnav label { 
    display: inline-block; 
    color: #f2f2f2;
    background: #2B4162;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #2B4162;
  }
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}